/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo da barra superior */
.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cabecalho, #29ae6e);
    padding: 0 5%;
    flex-direction: row;
    gap: 5%;
    justify-content: space-between;
    height: 10%;
    position: relative;
    overflow: hidden;
}

.perfil{
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.log{
    display: flex; 
    justify-content: flex-end;
    gap: 2%;
    margin-top: 1%;
}

/* Estilo da logo */
.logo img {
    width: 100%; 
    height: 66px;  /* olhar aq */
    margin-top: 2%;

}

/* Espaçamento entre os ícones */
.icons i {
    margin-left: 2%;
}



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

main{
    margin-left: 20%;
}
.sidebar {
    width: 10%;
    height: 90%; 
    background-color: #29ae6e;
    position: fixed;
    left: 0;
    top: 10%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
    align-items: center;
}

nav{
    justify-content: space-between;
}

.sidebar-item {
    color: #b8e28a;
    margin-bottom: 5%;
    cursor: pointer;
}

.set {
    margin-top: 35%;
    margin-bottom: 0%;
    display: flex; 
    width: 100%;
}

.despesas {
    display: flex;
    justify-content: center;
}

.titulo{
    color: var(--titulos, #032910);
    font-family: "Hind-Bold", sans-serif;
    font-weight: 700;
    display: inline-flex;
}

.titulo h1{
    font-size: 150%; /* aqui o despesas nao ta centralizado*/
    text-align: center;
    margin-top: 0;
}

.container{
    display: flex;
}

.main-tot{
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.titulo h6{
    font-size : 100%;
}

.descri-o {
    flex: 1;
    margin-left: 2%;
    flex-direction: column;

   /* margin-left: 40px;*/    
   /* margin-right: 20px;*/
}

.categoria {
    flex: 1;
    margin-left: 2%;
    flex-direction: column;

}

.valor {
    flex: 1;
    margin-left: 2%; /*nao pd ficar negativo*/
    margin-right: 1%;
    flex-direction: column;
  


}

.inputs {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    gap: 10%;
}

.input{
    background: var(--escrita, #ffffff);
    border-radius: 15%;
    border: 0% solid rgba(0, 0, 0, 0.5);
    height: 25%;
    margin-bottom: 5%;
}

.descri-o input{
    width: 100%;
}

.categoria input{
    width: 60%;
}

.valor input{
    width: 50%;
}

.option{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 8%;
    margin-top: 1%; /*erro do total*/
    margin-left: 0%;
}
.ops{
    background: var(--escrita, #ffffff);
    border-radius: 10px;
    border: 0% solid rgba(0, 0, 0, 0.5);
    height: 70%;
    width: 15%;
    margin-top: 1.5vh;
}

.add-tot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: -4vh;
    margin-right: 26vw;
}

.add{
    height: 10%;
    width: 1%;
    margin-left: 10%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.total{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 65%;

}
.tot{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tot.titulo{
    font-size: 100%;
}

.tot.input{
    width: 67%;
}
.footer-4 {
    background: var(--cabecalho, #29ae6e);
    padding: 2% 2% 2% 2%; /* Diminuímos 25% da altura da borda inferior */
    display: flex;
    flex-direction: column; /* Alterado para linha */
    gap: 1%; /* Reduzimos o espaçamento entre os itens */
    height: 11%; /* Ajustamos a altura da parte verde */
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer-image {
    display: flex;
    flex-direction: row;
    padding-left: 1%; /* Adicionamos margem à esquerda para a imagem */
    height: 10%;
    position: fixed;
    top: 88%;
    justify-content: flex-start;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 15%; /* Ajuste para o tamanho do footer */
}

.links {
    display: flex;
    flex-direction: row; /* Mantemos os itens em linha */
    gap: 10%; /* Reduzimos o espaçamento entre os itens */
    align-items: flex-start;
    padding-left: 15vw;
    justify-content: flex-start;
    position: relative; /* Adicionamos posição relativa */
    flex-shrink: 0;
}

.link {
    color: var(--black, #000000);
    text-align: center; /* Centralizamos o texto */
    font-family: var(--text-regular-semi-bold-font-family, "Roboto-SemiBold", sans-serif);
    font-size: var(--text-regular-semi-bold-font-size, 52%);
    line-height: var(--text-regular-semi-bold-line-height, 150%);
    font-weight: var(--text-regular-semi-bold-font-weight, 600);
    position: relative;
}

.minha-imagem {
    width: 7.5%; 
    height: auto; 
    position: fixed; 
    bottom: 0%;   
    left: 90%; 
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}
.minha-imagem1 {
    width: 15%; 
    height: auto; 
    position: fixed;
    bottom: 15%; 
    left: 78%;/* questao do balao do boneco tampar as opcoes*/
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}