body {
    background-color: #e8f1ea;
    font-family: Arial, sans-serif;
}

/*Header*/
.navbar {
    background-color: #67be7c;
    max-height: 100%;
    
}

.img-fluid {
    width: 100%;
    max-width: 9vw;
    height: auto;
    max-height: 11vh;
}

.log{
    margin-right: 5vw;
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
    min-width: 1vw;
    min-width: 1vh;
}
.set{
    color:#c0f1cc;
}

.dropdown-menu {
    left: 50%;            /* Inicia a 50% do botão */
    transform: translateX(-50%); /* Move o dropdown para o centro do botão */
    right: auto;          /* Certifica-se de que o dropdown não ultrapasse a tela */
    background-color: #bcbdbc;
}

span{
    color: #c0f1cc;
    font-weight: bold;
}

.edit{
    border: 1px solid rgba(0, 0, 0, 0.429);
    background-color: #638f6e4b;
}

.edit:hover{
    border: 1px solid rgba(189, 192, 192, 0.429);
    background-color: #0675244b;
}
/*Footer*/
footer {
    bottom: 0;
    width: 100%;
    background-color: #67be7c;
    height: 100%;
}

footer a {
    text-decoration: none;
    color: #0e3c19;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/*Main*/
.sidebar{
    background-color: #67be7c;
    max-width: 12vw;
}

h2, .fw-bold, .dropdown-item{
    color: #0e3c19;
    font-weight: bold;
}
.img-fluid {
    max-width: 80%;
    height: auto;
}

form input {
    border-radius: 5px;
}

.analise {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%; /* Garante que o container ocupe toda a altura da tela */
}

.row.flex-grow-1 {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin-top: 2%;
    margin-bottom: 2%;
}

.bloco{
    background-color: #c0f1cc;
    border-radius: 5%;
    width: 90%;          /* Permite que o bloco ocupe toda a largura disponível */
    max-width: 100vw;     /* Define uma largura máxima para não ficar muito largo */
    padding: 1rem;        /* Adicione um espaçamento interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona um sombreamento */ 
    border: 1px solid rgba(0, 0, 0, 0.106);
}

.chatbot {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.chatbot-img {
    width: 100%;
    height: 100%;
    max-width: 20vw;
    max-height: 20vh;
    margin-bottom: -18vh;
}

.chatbot-message {
    background-color: #fff;
    padding: 1rem;
    border-radius: 15%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 12vw;
    color: #0c1a0f;
    font-weight: bold;
}

/* Month Selection */
#monthSelect {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #28a745;
    background-color: #e8f1ea;
    color: #0e3c19;
    font-weight: bold;
    width: 50%;
    max-width: 13%;
}

#monthSelect:focus {
    outline: none;
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}